<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem
        id="menu_opsol_ppmc_report"
        name="PPMC Vendor Payments"
        parent="account.menu_finance_reports"
        action="action_opsol_ppmc_report_wizard"
        sequence="90"
        groups="account.group_account_readonly,account.group_account_invoice"
    />
</odoo>
